language: ruby
cache: bundler
rvm:
  - 2.0
  - 2.1
  - 2.2
script: bundle exec rspec
before_install:
  - gem update --system
services:
  - redis-server
notifications:
  email: false
  webhooks:
    urls:
      - https://lita-freenode.herokuapp.com/travis
